:root {
    --white: #fff;
    --special-color: #2158ff;
    --black: #000;
    --background-color: #242424;
}

/* Header Section */
#header-section {
    display: flex;
    height: 90vh;
    margin-top: 10rem;
}

.column-1 h1 {
    font-size: 4rem;
}

.column-2 p {
    font-size: 2rem;
}

.column-1, .column-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: var(--white);
}

.header-button {
    width: 5rem;
    background-color: var(--special-color);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.header-button:hover {
    scale: 1.05;
    color: var(--white);
}

/* Feature Section */
#feature-section {
    display: flex;
    height: 100vh;
    margin-top: 10rem;
    color: var(--white);
}

/* Benefits Section */

