.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}