#services-page {
    display: flex;
    flex-direction: column;
    height: 140vh;
    padding-top: 10rem;
    color: #fff;
    background-color: #242424;
}

.services-page-header {
    padding-left: 15rem;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

.card-container {
    margin: 1rem 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 1rem 1rem;
    width: 47%;
    padding: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card h2 {
    font-size: 3rem;
    z-index: 2;
}

.card:hover {
    scale: 1.05;
}

.long-card-container {
    margin: 1rem 16rem;
    display: flex;
}

.long-card {
    border: thin solid #fff;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    width: 99%;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.long-card h2 {
    font-size: 3rem;
}

.long-card:hover {
    scale: 1.05;
}




/* #services-page {
    display: flex;
    height: 120vh;
    color: #fff;
    flex-direction: column;
    padding-top: 10rem;
    backdrop-filter: blur(10px);
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}

.pricing-header {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
    padding-bottom: 2rem;
    margin-left: 15rem;
}

.low-price, .medium-price, .high-price {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-left: 15rem;
}

.low-price li {
    padding-left: 7rem;
}

.high-price li {
    padding-left: 3.8rem;
}

.points {
    padding-left: 3rem; 
    font-size: 1.1rem;
}

.fa-angle-right {
    padding-right: 0.5rem;
}

.hosting {
    background-color: #242424;
    width: 100%;
    height: 25vh;
    padding-left: 15rem;
} */

@media screen and (max-width: 1200px) {
    
}
