#services-page {
    display: flex;
    flex-direction: column;
    height: 150vh;
    padding-top: 10rem;
    color: #fff;
    background-color: #202428;
    z-index: 2;
}

.services-page-header {
    padding-left: 15rem;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 2;
}

.services-page-info {
    z-index: 2;
    padding-left: 15rem;
    font-size: 1.5rem;
    font-family: 'Old Standard TT', serif;
    width: 50%;
}

.card-container {
    margin: 1rem 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
}

.long-card-container {
    display: flex;
    justify-content: center;
    z-index: 2;
}

/* Card Flip */

.flip-card {
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.flip-card-front, .flip-card-back {
    height: 300px;
    width: 650px;
    text-align: center;
    background-color: #000;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.deal-1 {
    /* background-image: url(https://cdn.pixabay.com/photo/2016/11/09/18/54/refracted-1812461_640.jpg); */
    background-size: cover;
    background-position: center;
}

.deal-2 {
    /* background-image: url(https://cdn.pixabay.com/photo/2015/09/24/12/52/silver-955496_640.jpg); */
    background-size: cover;
    background-position: center;
}

.deal-3 {
    /* background-image: url(https://cdn.pixabay.com/photo/2016/09/05/18/54/texture-1647380_1280.jpg); */
    background-size: cover;
    background-position: center;
}

.deal-4 {
    /* background-image: url(https://cdn.pixabay.com/photo/2016/02/14/09/45/diamond-1199183_1280.jpg); */
    background-size: cover;
    background-position: center;
}

.flip-card-front {
    transform: rotateY(0deg);
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.flip-card-front::after, .flip-card-back::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(59, 115, 255), rgb(148, 214, 255), rgb(59, 115, 255));
    -webkit-background-clip: background;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: background;
    -moz-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.flip-card-front .inner, .flip-card-back .inner {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
}

.inner h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    font-family: 'Bebas Neue', sans-serif;
}

.inner p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 28px;
    font-family: 'Old Standard TT', serif;
}

.flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
}

/* Long Card Flip */

.long-flip-card {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.long-flip-card-front, .long-flip-card-back {
    height: 200px;
    width: 1340px;
    text-align: center;
    background-color: #000;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.long-flip-card-front {
    transform: rotateY(0deg);
}

.long-flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.long-flip-card-front::after, .long-flip-card-back::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(59, 115, 255), rgb(148, 214, 255), rgb(59, 115, 255));
    -webkit-background-clip: background;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: background;
    -moz-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.long-flip-card-back .inner, .long-flip-card-front .inner {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
}

.long-flip-card:hover .long-flip-card-front {
    transform: rotateY(-180deg);
}

.long-flip-card:hover .long-flip-card-back {
    transform: rotateY(0deg);
}

/* Different Responsiveness */

@media screen and (max-width: 1200px) {
    #services-page {
        height: 110vh;
    }

    .services-page-header {
        padding-left: 10rem;
    }

    .services-page-info {
        width: 100%;
        padding-left: 10rem;
    }

    .inner h2 {
        font-size: 2rem;
    }

    .flip-card-front, .flip-card-back {
        width: 320px;
        height: 180px;
    }

    .long-flip-card-front, .long-flip-card-back {
        width: 680px;
        height: 100px;
        margin: 0;
        padding: 0;
    }

    .long-card-container {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .services-page-header {
        padding-left: 10rem;
    }

    .services-page-info {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .card-container {
        margin: 1rem 10rem;
    }

    .flip-card-front, .flip-card-back {
        width: 312px;
        height: 150px;
    }

    .long-flip-card-front, .long-flip-card-back {
        width: 665px;
        height: 100px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    #services-page {
        height: 150vh;
    }

    .services-page-header {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .services-page-info {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 5rem;
    }

    .inner h2 {
        font-size: 2rem;
    }

    .card-container {
        margin: 1rem 10rem;
        display: flex;
        justify-content: center;
    }

    .flip-card-front, .flip-card-back {
        width: 312px;
        height: 150px;
    }

    .long-flip-card-front, .long-flip-card-back {
        width: 312px;
        height: 150px;
        margin: 0;
        padding: 0;
    }

    .long-card-container {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}
