:root {
    --white: #fff;
    --darkgray: darkgray;
}

#footer {
    color: var(--white);
    margin-top: 20rem;
}

.footer-top-row {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    text-align: center;
}

.link {
    font-size: 1.0rem;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    color: var(--darkgray);
}

.link:hover {
    color: var(--white);
}

.footer-bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-bottom-row h3 {
    font-size: 1.0rem;
    font-weight: bold;
    color: var(--darkgray);
}

.footer-column-1, .footer-column-2 {
    width: 50%;
}
