:root {
    --white: #fff;
    --dark-grey: #242424;

    --primary-color: #3597DF;
    --secondary-color-light: #CCC;
    --secondary-color-dark: #A5A5A5;
    --secondary-color-green: #84E878;

    --dark-blue: #5680E9;
    --teal: #84CEEB;
    --light-blue: #5AB9EA;
    --silver: #C1C8E4;
    --purple: #8860D0;
    
    --black: #000;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Old Standard TT', serif; */
}

/* Hero Section */
#header-section {
    display: flex;
    height: 100vh;
    align-items: center;
}

.column-1 h1 {
    font-size: 7rem;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 2;
}

.column-2 p {
    font-size: 2rem;
    font-family: 'Old Standard TT', serif;
}

.column-1, .column-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: var(--black);
}

.header-h1 {
    color: var(--white);
}

/* About Section */

#about {
    display: flex;
    height: 30vh;
    margin-top: 5rem;
    margin-right: 15rem;
    margin-left: 15rem;
    flex-direction: column;
}

.about-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.about-us {
    font-family: 'Old Standard TT', serif;
    font-size: 3rem;
    font-weight: bold;
}

/* Feature Section */
#feature-section {
    display: flex;
    height: 60vh;
    margin-top: 15rem;
    color: var(--black);
    background-color: #f7f7f7;
}

.feature h2 {
    padding-top: 5rem;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.feature, .unordered-list {
    font-size: 1.4rem;
}

.column-1 {
    margin-left: 15rem;
    font-family: 'Old Standard TT', serif;
}

.feature {
    padding-right: 5rem;
}

.column-2 {
    margin-right: 15rem;
    font-family: 'Old Standard TT', serif;
}

.feature-image-div {
    margin-right: 0rem;
}

.feature-img {
    width: 100%;
    height: 100%;
}

.fa-square-check {
    padding-right: 1rem;
}

/* Feature List Section */

#feature-list-section {
    display: flex;
    height: 85vh;
    color: var(--white);
    background-color: var(--black);
}

.item-1, .item-2 {
    margin-bottom: 3rem;
}

.item-1 h3, .item-2 h3, .item-3 h3 {
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.item-1 p, .item-2 p, .item-3 p {
    font-size: 1.4rem;
}

.feature-1 {
    color: var(--white);
    display: flex;
    padding-top: 10rem;
    margin-left: 5rem;
    margin-right: 10rem;
    display: flex;
    text-align: start;
}

.feature-2 {
    margin-right: 0rem;
}

.feature-list-img {
    width: 100%;
    height: 100%;
}

/* Benefits Section */

#benefits-section {
    display: flex;
    height: 50vh;
    margin-top: 5rem;
    color: var(--white);
}

.benefits {
    display: flex;
    align-items: start;
}

.benefits h2 {
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.benefits {
    font-size: 1.4rem;
}

.benefits-button {
    width: 8rem;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.benefits-button:hover {
    background-color: var(--white);
    color: var(--black);
    border: thin solid var(--black);
}

.fa-check {
    padding-right: 1rem;
}

/* Services Section */

/* #services-section {
    display: flex;
    height: 40vh;
    color: var(--black);
}

.row-1, .row-2, .row-3 {
    font-size: 1.4rem;
    font-family: 'Old Standard TT', serif;
}

.row-1 h3, .row-2 h3, .row-3 h3 {
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

.row-1 {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 15rem;
}

.row-2 {
    margin: 0 10rem;
}

.row-3 {
    margin-right: 15rem;
}

.services-button {
    width: 8rem;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.services-button:hover {
    background-color: var(--white);
    color: var(--black);
    border: thin solid var(--black);
} */

/* Stats Section */

#stats-section {
    display: flex;
    height: 70vh;
    padding-top: 10rem;
    color: var(--white);
    background-color: var(--black);
}

.stats h2 {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--white);
}

#stats-span {
    background: linear-gradient(to right, red, rgb(255, 108, 108), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.stats-img {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.stats-img-div:hover {
    border-color: var(--white);
}

.stats-img:hover {
    border: thick solid var(--white);
}

/* Testimonial Section */

#testimonial-section {
    display: flex;
    height: 40vh;
    margin-top: 10rem;
}

.reviews {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

.testimonial-info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.profession {
    margin-left: 3rem;
    padding-left: 3rem;
    border-left: thin solid var(--black);
}

/* FAQ Section */

#FAQ-section {
    display: flex;
    flex-direction: column;
    height: 190vh;
    color: var(--white);
    padding: 0 15rem;
    padding-top: 10rem;
    background-color: var(--dark-grey);
}

#FAQ-section h2 {
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
}

#FAQ-section p {
    font-size: 1.4rem;
    font-family: 'Old Standard TT', serif;
}

#FAQ-section h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.FAQ {
    margin-bottom: 5rem;
}

.question-1, .question-2, .question-3, .question-4, .question-5, .question-6 {
    border-bottom: thin solid var(--white);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
    /* About Section */
    #about {
        height: 35vh;
    }

    .about-us {
        font-size: 2.5rem;
    }

    /* Feature Section */
    #feature-section {
        height: 85vh;
    }

    .feature {
        margin-left: 10rem;
    }

    .feature-img {
        width: 100%;
        height: 100%;
        padding-left: 2rem;
    }

    /* Feature-list Section */
    #feature-list-section {
        height: 80vh;
    }

    .feature-1 {
        padding-top: 5rem;
    }

    /* Benefits Section */
    #benefits-section {
        height: 65vh;
    }

    /* Stats Section */
    #stats-section {
        height: 55vh;
        padding-top: 0rem;
    }

    .stats h2 {
        padding-top: 5rem;
    }

    .stats-img-div {
        display: flex;
        justify-content: center;

    }

    .stats-img {
        height: 100%;
        width: 100%;
    }

    /* Testimonial Section */
    #testimonial-section {
        height: 45vh;
        margin-top: 5rem;
    }

    .review-div {
        margin-left: 5rem;
    }

    .testimonial {
        margin-right: 10rem;
        text-align: center;
    }

    .testimonial-info {
        text-align: center;
    }

    /* FAQ Section */
    #FAQ-section {
        height: 205vh;
        padding: 0 10rem;
        padding-top: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    /* Hero Section */
    .column-1 h1 {
        padding-right: 10rem;
    }

    /* About Section */
    #about {
        height: 25vh;
        margin-right: 10rem;
        margin-left: 10rem;
    }

    .about-us {
        font-size: 2rem;
    }

    /* Feature Section */
    #feature-section {
        height: 90vh;
    }

    .feature h2 {
        font-size: 3.5rem;
    }

    /* Feature list Section */
    #feature-list-section {
        height: 90vh;
    }

    .item-1 h3, .item-2 h3, .item-3 h3 {
        font-size: 3.5rem;
    }

    /* Stats Section */
    #stats-section {
        height: 50vh;
    }

    .stats h2 {
        font-size: 4.5rem;
    }

    .stats {
        margin-left: 10rem;
    }

    .stats-img-div {
        margin-right: 10rem;
    }

    /* Testimonial Section */
    #testimonial-section {
        height: 50vh;
    }

    .reviews {
        font-size: 4.5rem;
    }

    /* FAQ Section */
    #FAQ-section {
        height: 210vh;
    }

    #FAQ-section h2 {
        font-size: 4.5rem;
    }

    #FAQ-section h4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
