:root {
    --white: #fff;
    --dark-grey: #242424;
    --black: #000;
}

/* Hero Section */
#header-section {
    display: flex;
    height: 100vh;
    align-items: center;
    z-index: 0;
}

.column-1 h1 {
    font-size: 7rem;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 2;
}

.column-2 p {
    font-size: 2rem;
    font-family: 'Old Standard TT', serif;
}

.column-1, .column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: var(--black);
}

.header-h1 {
    color: var(--white);
}

/* About Section */

#about {
    display: flex;
    height: 35vh;
    margin-top: 5rem;
    margin-right: 15rem;
    margin-left: 15rem;
    flex-direction: column;
}

.about-header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.about-us {
    font-family: 'Old Standard TT', serif;
    font-size: 3rem;
    font-weight: bold;
}

/* Feature Section */
#feature-section {
    display: flex;
    height: 60vh;
    margin-top: 15rem;
    color: var(--black);
    background-color: #f7f7f7;
}

.feature h2 {
    padding-top: 5rem;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.feature, .unordered-list {
    font-size: 1.4rem;
}

.column-1 {
    margin-left: 15rem;
    font-family: 'Old Standard TT', serif;
}

.feature {
    padding-right: 5rem;
}

.column-2 {
    margin-right: 15rem;
    font-family: 'Old Standard TT', serif;
}

.feature-image-div {
    margin-right: 0rem;
}

.feature-img {
    width: 100%;
    height: 100%;
}

.fa-square-check {
    padding-right: 1rem;
}

/* Feature List Section */

#feature-list-section {
    display: flex;
    height: 85vh;
    color: var(--white);
    background-color: var(--black);
}

.item-1, .item-2 {
    margin-bottom: 3rem;
}

.item-1 h3, .item-2 h3, .item-3 h3 {
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.item-1 p, .item-2 p, .item-3 p {
    font-size: 1.4rem;
}

.feature-1 {
    color: var(--white);
    display: flex;
    padding-top: 10rem;
    margin-left: 5rem;
    margin-right: 10rem;
    display: flex;
    text-align: start;
}

.feature-2 {
    margin-right: 0rem;
}

.feature-list-img {
    width: 100%;
    height: 100%;
}

/* Benefits Section */

#benefits-section {
    display: flex;
    height: 50vh;
    margin-top: 5rem;
    color: var(--white);
}

.benefits {
    display: flex;
    align-items: start;
    font-size: 1.4rem;
}

.benefits h2 {
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

.benefits-button {
    width: 8rem;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.benefits-button:hover {
    background-color: var(--white);
    color: var(--black);
    border: thin solid var(--black);
}

.fa-check {
    padding-right: 1rem;
}

/* Stats Section */

#stats-section {
    display: flex;
    height: 70vh;
    padding-top: 10rem;
    color: var(--white);
    background-color: var(--black);
}

.stats h2 {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--white);
}

#stats-span {
    background: linear-gradient(to right, red, rgb(255, 108, 108), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.stats-img {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.stats-img-div:hover {
    border-color: var(--white);
}

.stats-img:hover {
    border: thick solid var(--white);
}

/* Testimonial Section */

#testimonial-section {
    display: flex;
    height: 40vh;
    margin-top: 10rem;
}

.reviews {
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}

.testimonial-info {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.testimonial-name {
    padding-right: 3rem;
    border-right: thin solid var(--black);
}

.profession {
    padding-left: 3rem;
}

/* FAQ Section */

#FAQ-section {
    display: flex;
    flex-direction: column;
    height: 190vh;
    color: var(--white);
    padding: 0 15rem;
    padding-top: 10rem;
    background-color: var(--dark-grey);
}

#FAQ-section h2 {
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
}

#FAQ-section p {
    font-size: 1.4rem;
    font-family: 'Old Standard TT', serif;
}

#FAQ-section h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

.FAQ {
    margin-bottom: 5rem;
}

.question-1, .question-2, .question-3, .question-4, .question-5, .question-6 {
    border-bottom: thin solid var(--white);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1660px) {
    #about {
        height: 45vh;
    }

    #feature-section {
        height: 70vh;
    }

    #feature-list-section {
        height: 100vh;
    }

    #benefits-section {
        height: 60vh;
    }

    .stats h2 {
        font-size: 5.3rem;
    }

    /* Testimonial Section */

    #testimonial-section {
        height: 45vh;
    }

    .testimonial-info {
        display: flex;
    }

    .testimonial-name {
        margin: 0;
        text-align: center;
    }

    .comment {
        text-align: center;
    }

    .profession {
        margin: 0;
        align-items: center;
        display: flex;
        text-align: center;
    }

    /* FAQ Section */

    #FAQ-section {
        height: 200vh;
    }
}

@media screen and (max-width: 1460px) {
    /* About Section */

    .about-header {
        font-size: 5rem;
    }
    
    .about-us {
        font-size: 2.5rem;
    }

    /* Feature Section */

    #feature-section {
        height: 75vh;
    }

    .feature h2 {
        font-size: 3.5rem;
    }
    
    .feature, .unordered-list {
        font-size: 1.3rem;
    }

    /* Feature List Section */

    #feature-list-section {
        height: 90vh;
    }

    .item-1 h3, .item-2 h3, .item-3 h3 {
        font-size: 3.5rem;
    }
    
    .item-1 p, .item-2 p, .item-3 p {
        font-size: 1.3rem;
    }

    /* Benefits Section */

    #benefits-section {
        height: 60vh;
    }

    .benefits h2 {
        font-size: 3.5rem;
    }
    
    .benefits {
        font-size: 1.3rem;
    }

    /* Stats Section */

    #stats-section {
        height: 55vh;
    }

    .stats h2 {
        font-size: 3.5rem;
    }

    /* Testimonial Section */

    #testimonial-section {
        height: 50vh;
    }
    
    .reviews {
        font-size: 4rem;
    }

    .testimonial {
        margin-right: 10rem;
    }

    /* FAQ Section */

    #FAQ-section {
        height: 200vh;
    }

    #FAQ-section h2 {
        font-size: 4rem;
    }
    
    #FAQ-section p {
        font-size: 1.3rem;
    }
    
    #FAQ-section h4 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 1200px) {
    /* About Section */
    #about {
        height: 40vh;
        margin: 5rem 10rem;
    }

    .about-us {
        font-size: 2.5rem;
    }

    /* Feature Section */
    #feature-section {
        height: 85vh;
    }

    .feature {
        margin-left: 10rem;
    }

    .feature-img {
        width: 100%;
        height: 100%;
        padding-left: 2rem;
    }

    /* Feature-list Section */
    #feature-list-section {
        height: 90vh;
    }

    .feature-1 {
        padding-top: 5rem;
    }

    /* Benefits Section */
    #benefits-section {
        height: 65vh;
    }

    /* Stats Section */
    #stats-section {
        height: 55vh;
        padding-top: 0rem;
    }

    .stats {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .stats-img-div {
        display: flex;
        justify-content: center;

    }

    .stats-img {
        height: 100%;
        width: 100%;
    }

    /* Testimonial Section */
    #testimonial-section {
        height: 50vh;
        margin-top: 5rem;
    }

    .review-div {
        margin-left: 5rem;
    }

    .testimonial {
        margin-right: 10rem;
        text-align: center;
    }

    .testimonial-info {
        text-align: center;
    }

    /* FAQ Section */
    #FAQ-section {
        height: 205vh;
        padding: 0 10rem;
        padding-top: 5rem;
    }
}

@media screen and (max-width: 1024px) {
    /* Hero Section */

    #header-section {
        justify-content: center;
    }

    /* About Section */

    #about {
        height: 40vh;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .about-header {
        font-size: 4rem;
    }

    .about-us {
        font-size: 1.8rem;
    }

    /* Feature Section */

    #feature-section {
        height: 105vh;
        flex-direction: column;
        margin: 0;
    }

    .feature h2 {
        font-size: 3.5rem;
    }

    .feature {
        padding: 0 5rem;
        margin: 0;
    }

    .column-1, .column-2 {
        width: auto;
    }

    .feature-img {
        width: 90%;
        height: 100%;
        padding: 2rem 5rem;
    }

    /* Feature list Section */

    #feature-list-section {
        height: 125vh;
        flex-direction: column-reverse;
    }

    .item-1 h3, .item-2 h3, .item-3 h3 {
        font-size: 3.5rem;
    }

    .item-1, .item-2, .item-3 {
        width: 100%;
        padding: 0;
    }

    .feature-1 {
        margin: 0;
        padding: 0 5rem;
        justify-content: center;
        align-items: center;
    }

    .feature-list-img {
        padding: 3rem 5rem;
        height: 90%;
        width: 90%;
    }

    /* Benefits Section */

    #benefits-section {
        height: 65vh;
        margin-top: 0;
    }

    .benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0 5rem;
    }

    .benefits ul {
        text-align: start;
    }

    /* Stats Section */

    #stats-section {
        height: 50vh;
    }

    .stats h2 {
        font-size: 4rem;
    }

    .stats {
        margin-left: 5rem;
    }

    .stats-img-div {
        margin-right: 5rem;
    }

    /* Testimonial Section */

    #testimonial-section {
        flex-direction: column;
    }

    .review-div {
        text-align: center;
        margin: 0;
    }

    .reviews {
        font-size: 4rem;
        padding-bottom: 3rem;
        margin: 0;
    }

    .testimonial {
        margin: 0;
        padding: 0 5rem;
    }

    /* FAQ Section */

    #FAQ-section {
        height: 200vh;
        padding: 0 5rem;
        padding-top: 5rem;
    }

    #FAQ-section h2 {
        font-size: 4rem;
    }

    #FAQ-section h4 {
        font-size: 2rem;
    }

    #FAQ-section p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    #header-section {
        background-color: #202428;
        height: 100vh;
        height: 100svh;
    }

    .column-1 h1 {
        font-size: 5rem;
    }

    #hero-span {
        background: linear-gradient(to right, rgb(0, 123, 47), rgb(37, 255, 117), rgb(148, 255, 180), rgb(151, 255, 182), rgb(21, 253, 106), rgb(0, 123, 47));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    #hero-span-2 {
        background: linear-gradient(to right, rgb(38, 0, 255), rgb(74, 192, 255), rgb(86, 230, 255), rgb(74, 192, 255), rgb(83, 129, 255), rgb(38, 0, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    #hero-span-3 {
        background: linear-gradient(to right, rgb(118, 7, 255), rgb(188, 87, 255), rgb(223, 188, 254), rgb(223, 188, 254), rgb(188, 87, 255), rgb(118, 7, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    /* About Section */
    #about {
        height: 40vh;
        height: 40svh;
    }

    .about-header {
        font-size: 3rem;
        display: flex;
        justify-content: center;
    }

    .about-us {
        font-size: 1.5rem;
        text-align: center;
    }

    /* Feature Section */
    #feature-section {
        height: 100vh;
        height: 100svh;
        flex-direction: column;
        margin: 0;
    }

    .feature h2 {
        font-size: 3rem;
        text-align: center;
    }

    .feature {
        text-align: center;
    }

    .feature ul {
        text-align: start;
    }

    /* Feature List Section */
    #feature-list-section {
        height: 115vh;
        height: 115svh;
        flex-direction: column-reverse;
    }

    .item-1 h3, .item-2 h3, .item-3 h3 {
        font-size: 3rem;
    }

    .item-1, .item-2, .item-3 {
        text-align: center;
    }

    /* Benefits Section */
    #benefits-section {
        height: 70vh;
        height: 70svh;
    }

    .benefits {
        font-size: 1.2rem;
    }
    
    .benefits h2 {
        font-size: 3rem;
    }

    .benefits-button {
        font-size: 0.9rem;
        margin: 0;
        margin-left: 2rem;
    }

    /* Stats Section */
    #stats-section {
        flex-direction: column;
        height: 65vh;
        height: 65svh;
    }

    .stats {
        margin: 0;
        padding-top: 3rem;
    }

    .stats h2 {
        padding: 0 2rem;
    }

    .stats-img-div {
        margin: 0;
        padding: 2rem 5rem;
    }

    /* Testimonial Section */
    .testimonial p {
        font-size: 1.5rem;
    }

    /* FAQ Section */
    #FAQ-section h4 {
        font-size: 1.8rem;
    }

    #FAQ-section p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 650px) {
    /* FAQ Section */
    #FAQ-section {
        height: 180vh;
        padding: 3rem 3rem;
    }

    #FAQ-section h2 {
        font-size: 3rem;
    }

    #FAQ-section h4 {
        font-size: 1.7rem;
    }

    #FAQ-section p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 570px) {
    /* FAQ Section */
    #FAQ-section {
        height: 195vh;
    }
}

@media screen and (max-width: 500px) {
    /* FAQ Section */
    #FAQ-section {
        height: 200vh;
    }
}

@media screen and (max-width: 480px) {
    .column-1 h1 {
        font-size: 4rem;
    }

    /* About Section */
    #about {
        margin: 5rem 2rem;
    }

    .about-header {
        font-size: 2.5rem;
    }

    .about-us {
        font-size: 1.3rem;
    }

    /* Feature Section */
    #feature-section {
        height: 105vh;
        height: 105svh;
        flex-direction: column;
    }

    .feature h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .feature {
        font-size: 1.2rem;
        padding: 0 2rem;
    }

    .feature-img {
        padding: 0;
    }

    /* Feature List Section */
    #feature-list-section {
        height: 110vh;
        height: 110svh;
        flex-direction: column-reverse;
    }

    .item-1 h3, .item-2 h3, .item-3 h3 {
        font-size: 2.5rem;
    }

    .item-1 p, .item-2 p, .item-3 p {
        font-size: 1.2rem;
    }

    .feature-1 {
        padding: 5rem 2rem;
    }

    .feature-list-img {
        padding: 0;
    }

    /* Benefits Section */
    #benefits-section {
        height: 75vh;
        height: 75svh;
    }

    .benefits {
        padding: 0 2rem;
    }
    
    .benefits h2 {
        font-size: 2.5rem;
    }

    .benefits-button-div {
        flex-direction: column;
    }

    .benefits-button {
        margin: 0;
        margin-left: 0.2rem;
    }

    /* Stats Section */
    #stats-section {
        height: 65vh;
        height: 65svh;
    }

    .stats h2{
        font-size: 3.5rem;
    }

    .stats-img-div {
        margin: 0;
        padding: 2rem 2rem;
    }

    /* Testimonial Section */
    #testimonial-section {
        height: 45vh;
        height: 45svh;
    }

    .reviews {
        font-size: 3rem;
    }

    .testimonial {
        padding: 0 2rem;
    }

    .testimonial p {
        font-size: 1.3rem;
    }

    /* FAQ Section */
    #FAQ-section {
        height: 190vh;
        height: 190svh;
        padding: 2rem 2rem;
    }

    .FAQ {
        margin-bottom: 3rem;
    }

    #FAQ-section h4 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 445px) {
    /* FAQ Section */
    #FAQ-section {
        height: 210vh;
        height: 210svh;
    }
}

@media screen and (max-width: 380px) {
    /* FAQ Section */
    #FAQ-section {
        height: 230vh;
        height: 230svh;
    }
}

@media screen and (max-width: 340px) {
    /* FAQ Section */
    #FAQ-section {
        height: 250vh;
        height: 250svh;
    }
}
