:root {
    --white: #fff;
    --special-color: #2158ff;
    --black: #000;
    --background-color: #242424;
}

body {
    background: linear-gradient(#26c5ed, #825bdb);
    background-attachment: fixed;
}

#nav {
    width: 100%;
    height: 8vh;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    mix-blend-mode: difference;
    letter-spacing: 0.1rem;
    font-family: 'Bebas Neue', sans-serif;
}

#nav .logo a {
    font-size: 3rem;
    font-weight: bold;
}

#nav .links {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.links a:hover {
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

#nav .button {
    color: var(--white);
    cursor: pointer;
}

.button {
    background-color: var(--special-color);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white);
}

.nav-container {
    position: relative;
    padding: 0 2rem;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.fa-laptop-code {
    color: #74c0fc;
    padding-right: 0.5rem;
}
