:root {
    --white: #fff;
    --special-color: #2158ff;
    --black: #000;
    --background-color: #242424;
}

body {}

#nav {
    width: 100%;
    height: 8vh;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    mix-blend-mode: difference;
    letter-spacing: 0.1rem;
    font-family: 'Bebas Neue', sans-serif;
}

#nav .logo a {
    font-size: 3rem;
    font-weight: bold;
}

#nav .links {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white);
}

.nav-container {
    padding: 0 2rem;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.fa-laptop-code {
    padding-right: 0.5rem;
}

.underline:hover {
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#mobile-nav {
    display: none;
}

@media screen and (max-width: 1024px) {
    #contact-nav {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 768px) {
    #mobile-nav {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        font-family: 'Bebas Neue', sans-serif;
        background-color: #242424;
        width: 100%;
    }

    #nav {
        display: none;
        margin: 0;
        padding: 0;
    }

    #mobile-nav .mobile-logo a {
        font-size: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 0.5rem;
    }

    .menu-icon {
        font-size: 3rem;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 30%);
        cursor: pointer;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: 1;
        transition: all 0.6s ease;
        background-color: #242424;
    }

    .nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }

    .nav-links:hover {
        color: #09bef0;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item {
        width: 100%;
    }
}
